.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "With Ease";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "With Ease";
    }
    21%,40%{
        content: "Effortlessly";
    }
    41%,60%{
        content: "Seamlessly";
    }
    61%,80%{
        content: "Efficiently";
    }
    81%,100%{
        content: "With";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}