---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
import Brands from '../components/brands/Brands'
import AppComp from '../components/app/AppComp'
import Pricing from '../components/pricing/PricingComp'
import Features from '../components/feature/feature';

---

<Layout title="Welcome to Acme">
	<main class="relative">
		<div class="flex flex-col">
			<Hero />
			<Features />
			<Brands />
			<Pricing />
			<AppComp />
		</div>
	</main>
</Layout>